

.wrapper {
    max-width: 1340px;
    margin: 0 auto;

}

.container-fluid {
    margin: 0 auto;
}

.field_of_activity {
display: flex;
padding-top: 30px;   
}

.navbar ul li {
    display: inline-block;
    padding: 0px 7px;
}
.navbar ul {
    padding-right: 40px;
}
.navbar {
    position: fixed;
    width: 100%;
    background-color: white;
    top: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.logo img {
    width: 179.625px;
    height: 75px;
    margin-left: 5%;
}
.pict_foa {
    margin: 20px 30px;
}
.pict_foa img {
    max-width: 500px;
    height: auto;
}
.text_foa {
    font-size: 20px;
    max-width: 750px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
}

.head_block {
    font-size: 50px;
    font-weight: 700;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: center;
    margin-top: 30px;
}

.services {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
}

.services_block {
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #ebaf11;
    width: calc(100%/3);
    height: 400px;
}

.services_block p {
    text-align: center;
    padding: 0px 40px;
    font-size: 24px;
  
}
.text_foa p b {
    font-size: 32px;
}
.services_block p b {
    font-size: 32px;
}
.about {
    padding-top: 70px;
    background-color: #29282d;
    height: 700px;
    display: flex;
    justify-content: space-evenly;
}

.about_logo {

    margin-top: 50px;
}

.about_logo img {
    width: 320px;
    height: auto;
}

.desc_menu li a {
    text-decoration: none;
    color: black;
}

.about_text {
    text-align: left;
    max-width: 450px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
    color: white;
}

.about_text h1 {
    font-size: 50px;
    font-weight: 700;
}

.footer {
    background-color: #ebaf11;
    display: flex;
    justify-content: space-around;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
}
.list {
    padding-top: 25px;
}
.list ul{
    list-style-type: none;
    padding-left: 0px;
}

.list span {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Alegreya Sans SC', sans-serif;
}
.form_block {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}
.input_form {
    display: flex;
    flex-direction: column;
}
.input_form textarea {
    background-color:  #ebaf11;
    font-size: 20px;
    border: none;
    font-family: 'Alegreya Sans SC', sans-serif;
    outline: none;
    resize: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.input_form input {
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 3px;
    background-color:  #ebaf11;
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    outline: none;
}

.input_form select {
    margin: 10px 0px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 3px;
    background-color:  #ebaf11;
    font-size: 20px;
    font-family: 'Alegreya Sans SC', sans-serif;
    outline: none
}

.checkbox_form {
    margin: 20px 0px;
}

.checkbox_form span {
   padding-bottom: 20px;
}

.input_form button {
    padding: 10px 0px;
    font-size: 22px;
    border:none;
    color: white;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #29282d;
    margin-top: 10px;
}

.check_form input {
    width: 18px;
    height: 18px;
}

.input_form button:hover {
    padding: 10px 0px;
    font-size: 22px;
    border:none;
    color:#ebaf11;
    transition: 0.5s;
    font-family: 'Alegreya Sans SC', sans-serif;
    background-color: #333335;
   
}

.How_a_work {
    display: flex;
    margin: 30px auto;
    justify-content: center;
    
}
.how_a_work_cont {
    background-color: #333335;
    padding: 15px 0px;
}

.block_how_a_work {
 max-width: 260px;
 text-align: center;
background-color: #ebaf11;
 margin: 0px 7px;
 font-family: 'Alegreya Sans SC', sans-serif;
 font-size: 22px;
 padding: 10px 7px;
 border-radius: 3px;
 color:   #29282d;
}

.block_how_a_work p b {
    font-size: 32px;
}

.block_how_a_work span {
    font-size: 64px;
    font-weight: 700;
   
}

.block_center {
    padding: 0px 20% ;
    background-color: #333335;
}
.block_center ul {
    text-align: center;
    list-style-type: none;
    border: 1px solid black;
    padding: 13px 0px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 24px;
}




.personal_politics {
    font-size: 24px;
    font-family: 'Alegreya Sans SC', sans-serif;
    line-height: 1.5;
    background-color: #333335;
    color:#ebaf11;
    padding: 25px 50px;
    
}

.personal_politics h1 {
    font-size: 40px;
}

@media (max-width: 500px ) {
    body {
        margin: 0px 0px;
    }
  
   .desc_menu li a {
       font-size: 18px;
   }

    .about,.field_of_activity,.services,.How_a_work,.footer {
        display: flex;
        flex-direction: column;
    }

    .about_text{
        margin-bottom: 30px;
        margin-top: 40px;
    }
    .pict_foa img{
        max-width: 320px;
    }
    .pict_foa {
        margin: 20px auto;
    }
    .services_block {
        width: 100%;
    } 
    .block_how_a_work {
        max-width: 100%;
        margin: 30px 0px;
        border-radius: 0%;
    }

    .text_foa ul {
        padding-left: 0px;
    }
    .about_logo {
        display: none;
    }
    .about_text h1 {
        text-align: center;
        margin-top: 30px;
    }
    
    .container-menu {
        display: inline-block;
        cursor: pointer;
        margin-top: 15px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
    }
    .about{
        height: 800px;
    }
    .list {
        text-align: center;
    }
}


@media (max-width: 328px ) { 
    .navbar {
        width: 100%;
        max-width: 320px;
    }
}